.app {
  padding: 117px 0;
  @include flexbox();
  justify-content: center;
  &-description {
    width: 60%;
    h1 {
      font: 600 32px 'Sora';
    }
    p {
      padding: 24px 0;
      font: 400 16px 'Inter';
    }

    &-dlw {
      padding: 10px 0;
      display: flex;
    }
  }
}
