.app {
  padding: 117px 40px;
  @include flexbox();
  
  
  @media screen and (max-width:900px){
    padding: 50px 20px;
    justify-content: center;
    text-align: center;
    
    img {
      display: none;
    }
  }
  &-description {
    width: 60%;
    h1 {
      font: 600 32px 'Sora';
    }
    p {
      padding: 24px 0;
      font: 400 16px 'Inter';
    }

    &-dlw {
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
