
    .b-contact {
        padding: 50px 0;
        text-align: center;
  
        &-email {
          margin: 83px 0 45px 0;
        }
        h1 {
          font: 600 40px 'Sora';
        }
        p {
          font: 400 18px 'Inter';
          padding: 16px 0;
        }
        .btn-contact {
          @include button();
          border: none;
          padding: 8px 32px;
        }
        input[type="email"] {
          background-color: transparent;
          padding: 10px;
          width: 300px;
          color: $white;
          border: none;
          border-bottom: 1px solid $white;
          margin-right: 40px;
          &::placeholder {
            font: 500 18px 'Inter';
          }
        }
      }
  
  
  #s-contact {
    color: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
      rgba(41, 49, 69, 0.7)
    ),
    url(../images/notebook.svg)
  }