.functionalities {
    text-align: center;
    padding: 56px 0;
    h1 {
      font: 600 40px 'Sora';
    }
    &-box {
      @include flexbox();
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 53px 0;
      margin-top: 30px;
      &-card {
        width: 257px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          font: 600 18px 'Sora';
          padding: 16px;
        }
        p {
          font: 400 16px 'Inter';
        }
      }
    }
  }
