
  
    .b-planos {
        text-align: center;
        padding: 50px 0;
        h1 {
          font-size: 40px;
          font-family: "Sora";
          font-weight: 600;
          @media screen and (max-width:768px){
            font-size: 32px;
           }
        }
        p {
          padding: 16px 0;
          font-size: 18px;
          font-family: "Inter";
          font-weight: 400;
          @media screen and (max-width:768px){
            font-size: 14px;
           }
        }
  
        &-cards {
          padding: 80px 0;
          @include flexbox();
          flex-wrap: wrap;
          justify-content: center;
          @media screen and (max-width:768px){
           padding: 0 20px ;
          }
          h1 {
            font: 600 24px 'Sora';
          }
          p {
            font: normal 18px 'Sora'; 
          }
  
          button {
            @include button();
            padding: 8px 80px;
          }
  
          &-card {
            @media screen and (max-width:900px) {
            margin-top: 50px;
            }
            &:nth-child(odd) {
              @include card($white400);
            }
            &:nth-child(2) {
              @include card($grey200);
              color: $white;
            }
            .valor {
             
              font-family: "Inter";
              font-weight: bold;
              .moeda {
                position: absolute;
                top: 35px;
                @media screen and (max-width:375px){
                  left: 0px;
           
                 }
                 @media screen and (max-width:425px){
                  left: 20px;
           
                 }
                 @media screen and (max-width:7685px){
                  left: 40px;
           
                 }
              }
              p {
                position: relative;
                font-size: 50px;
                span {
                  font-size: 26px;
                }
              }
            }
          }
        }
      }
  