

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Sora:wght@400;500;600&display=swap');

$principal: #0F9AFE;
$white: #FFFFFF;
$white400: #EFF8FF;
$grey: #6E7275;
$grey-ligth:#DBDBDB;
$grey200: #293145;

@mixin maxw {
 max-width: 1140px;
 margin: 0 auto;   
}
@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
@mixin button {
  background: #0F9AFE;
box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
border-radius: 50px;
color: $white;
font-size: 20px;
&:hover  {
  background-color: $white;
  color: #0F9AFE;
}
}

@mixin card ($bg) {
  padding: 56px 35px;
  width: 370px;
 border-radius: 8px;
 background-color: $bg;
 p {
   padding: 25px 0;
 }

}

@mixin r-tablet {
  @media screen and (max-width: 770px){
    
  }
}