
$principal: #0f9afe;
$white: #ffffff;
$white400: #eff8ff;
$grey: #6e7275;
$grey-ligth: #dbdbdb;
$grey200: #293145;

@mixin maxw {
  max-width: 1140px;
  margin: 0 auto;
 
}
@mixin flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
@mixin button {
  background: #0f9afe;
  box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
  border-radius: 50px;
  color: $white;
  font-size: 20px;
  @media screen and (max-width:900px) {
    font-size: 16px;
  }
  &:hover {
    background-color: $white;
    color: #0f9afe;
  }
}

@mixin card($bg) {
  padding: 56px 35px;
  width: 370px;
  border-radius: 8px;
  background-color: $bg;
  p {
    padding: 25px 0;
  }
}

@mixin r-tablet {
  @media screen and (max-width: 770px) {
  }
}

@font-face {
  font-family: 'Sora Regular' ;
  src: url(../fonts/InterRegular.ttf);
}
$breakpoint: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);


@mixin mq($breakpoint) {
  @if  $breakpoint == phone {
    @media (max-width: #{$breakpoint}) {
      @content;
    }
  }
 
}
