@import "reset";
.maxw {
  @include maxw();
}

.bg-ligth {
  background-color: $white;
}
.bg-dark {
  background-color: $white400;
}

nav {
  height: 10vh;
  @include flexbox();

  ul {
    display: flex;
    li {
      margin: 0 33px;
    }
  }
}

main {
  section {
    .intro-container {
      @include flexbox();
      height: 90vh;
      &-text {
        h1 {
          font-size: 48px;
          font-family: "Sora", sans-serif;
        }

        button {
          padding: 16px 36px;
          margin-top: 50px;
          @include button();
        }
      }
    }

    .functionalities {
      text-align: center;
      padding: 56px 0;
      h1 {
        font-size: 40px;
        font-family: "Sora";
        font-weight: 600;
      }
      &-box {
        @include flexbox();
        justify-content: space-around;
        padding: 53px 0;
        margin-top: 30px;
        &-card {
          width: 257px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h2 {
            font-family: "Sora";
            font-weight: 600;
            font-size: 18px;
            padding: 16px;
          }
          p {
            font-size: 16px;
            font-family: "Inter";
            font-weight: 400;
          }
        }
      }
    }

    .app {
      padding: 117px 0;
      @include flexbox();
      justify-content: center;
      &-description {
        width: 60%;
        h1 {
          font-size: 32px;
          font-family: "Sora";
          font-weight: 600;
        }
        p {
          padding: 24px 0;
          font-size: 16px;
          font-family: "Inter";
          font-weight: 400;
        }

        &-dlw {
          padding: 10px 0;
          display: flex;
        }
      }
    }

    .b-planos {
      text-align: center;
      padding: 50px 0;
      h1 {
        font-size: 40px;
        font-family: "Sora";
        font-weight: 600;
      }
      p {
        padding: 16px 0;
        font-size: 18px;
        font-family: "Inter";
        font-weight: 400;
      }

      &-cards {
        padding: 80px 0;
        @include flexbox();
        h1 {
          font-size: 24px;
          font-family: "Sora";
          font-weight: 600;
        }
        p {
          font-size: 18px;
          font-family: "Inter";
          font-weight: 400;
        }

        button {
          @include button();
          padding: 8px 80px;
        }

        &-card {
          &:nth-child(odd) {
            @include card($white400);
          }
          &:nth-child(2) {
            @include card($grey200);
            color: $white;
          }
          .valor {
            position: relative;
            font-family: "Sora";
            font-weight: 600;
            .moeda {
              position: absolute;
              left: 66px;
              top: 35px;
            }
            p {
              font-size: 50px;
              span {
                font-size: 26px;
              }
            }
          }
        }
      }
    }

    .b-contact {
      padding: 50px 0;
      text-align: center;

      &-email {
        margin: 83px 0 45px 0;
      }
      h1 {
        font-family: "Sora";
        font-weight: 600;
        font-size: 40px;
      }
      p {
        font-family: "Roboto";
        font-size: 18px;
        padding: 16px 0;
      }

      input {
        background-color: transparent;
        padding: 8px 32px;
        color: $white;
        border: none;
        border-bottom: 1px solid $white;
        &::placeholder {
          font-family: "Inter";

          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
}

#s-contact {
  color: $white;
  background-image: url(../images/notebook.svg);
  background-position: center;
  background-size: cover;
}
